/* TechLogo */

.logo-item {
  margin-top: 20px;
}
.center-in-col {
  text-align: center;
}
.image-square {
  max-height: 45px;
  margin: auto;

}
.image-wide {
  max-height: 40px;
  text-align: center;
}
.image-express {
  max-width: 125px;
  margin: auto;
  text-align: center;
}

/*
    TABLET
 */
@media (min-width : 481px) and (max-width : 1024px) {

}

/*
    DESKTOP & LAPTOP
 */
@media (min-width : 1025px) {

}
